<%- include('templates/head'); %>
    <%- include('templates/nav'); %>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-3">Nazwa użytkownika</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <h1 class="display-6">Zmiana hasła</h1>
                    <form method="post">
                        <div class="mt-2">
                            <label for="old_pass" class="form-label">Aktualne hasło</label>
                            <input type="password" name="old_pass" id="old_pass" class="form-control">
                        </div>
                        <div class="mt-2">
                            <label for="new_pass" class="form-label">Nowe hasło</label>
                            <input type="password" name="new_pass" id="new_pass" class="form-control">
                        </div>
                        <div class="mt-2">
                            <label for="repeat_pass" class="form-label">Powtórz nowe hasło</label>
                            <input type="password" name="repeat_pass" id="repeat_pass" class="form-control">
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary">Zapisz</button>
                        </div>
                    </form>
                </div>
                <div class="col">
                    <h1 class="display-6">Zamówienia</h1>
                    <div class="list-group" style="margin: 1em 5em">
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="row">
                                <div class="col-6" style="width: auto;">
                                    <img src="assets/img/wine4.jpg" class="figure-img img-fluid rounded-circle"
                                        style="height: 100px; width: 100px;"
                                        alt="grafika kupionego przedmiotu nieznaleziona">
                                    <!-- Tu grafika należąca do kupiony_przedmiot_1 -->
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="d-flex w-100 justify-content-between">
                                            <span role="button" tabindex="0">
                                                <h5 class="mb-1">Zamówienie #6969</h5>
                                            </span>
                                            <small>01/01/2021</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <dd class="col-sm-9">kupiony_przedmiot_1</dd>
                                                <dd class="col-sm-9">kupiony_przedmiot_2</dd>
                                                <dd class="col-sm-9">kupiony_przedmiot_3</dd>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row align-items-end">
                                                <div class="col">
                                                    <p class="fw text-end">Suma: 90,08 zł</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="fw-bold text-end">
                                                        Zakończone
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>

                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="row">
                                <div class="col-6" style="width: auto;">
                                    <img src="assets/img/wine4.jpg" class="figure-img img-fluid rounded-circle"
                                        style="height: 100px; width: 100px;"
                                        alt="grafika kupionego przedmiotu nieznaleziona">
                                    <!-- Tu grafika należąca do kupiony_przedmiot_1 -->
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="d-flex w-100 justify-content-between">
                                            <span role="button" tabindex="0">
                                                <h5 class="mb-1">Zamówienie #6969</h5>
                                            </span>
                                            <small>02/01/2021</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <dd class="col-sm-9">kupiony_przedmiot_1</dd>
                                                <dd class="col-sm-9">kupiony_przedmiot_2</dd>
                                                <dd class="col-sm-9">kupiony_przedmiot_3</dd>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row align-items-end">
                                                <div class="col">
                                                    <p class="fw text-end">Suma: 90,08 zł</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="fw-bold text-end">
                                                        Zakończone
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="row">
                                <div class="col-6" style="width: auto;">
                                    <img src="assets/img/wine4.jpg" class="figure-img img-fluid rounded-circle"
                                        style="height: 100px; width: 100px;"
                                        alt="grafika kupionego przedmiotu nieznaleziona">
                                    <!-- Tu grafika należąca do kupiony_przedmiot_1 -->
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="d-flex w-100 justify-content-between">
                                            <span role="button" tabindex="0">
                                                <h5 class="mb-1">Zamówienie #6969</h5>
                                            </span>
                                            <small>03/01/2021</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <dd class="col-sm-9">kupiony_przedmiot_1</dd>
                                                <dd class="col-sm-9">kupiony_przedmiot_2</dd>
                                                <dd class="col-sm-9">kupiony_przedmiot_3</dd>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row align-items-end">
                                                <div class="col">
                                                    <p class="fw text-end">Suma: 90,08 zł</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="fw-bold text-end">
                                                        Zakończone
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="row">
                                <div class="col-6" style="width: auto;">
                                    <img src="assets/img/wine1.jpg" class="figure-img img-fluid rounded-circle"
                                        style="height: 100px; width: 100px;"
                                        alt="grafika kupionego przedmiotu nieznaleziona">
                                    <!-- Tu grafika należąca do kupiony_przedmiot_1 -->
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="d-flex w-100 justify-content-between">
                                            <span role="button" tabindex="0">
                                                <h5 class="mb-1">Zamówienie #6969</h5>
                                            </span>
                                            <small>04/01/2021</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <dd class="col-sm-9">kupiony_przedmiot_1</dd>
                                                <dd class="col-sm-9">kupiony_przedmiot_2</dd>
                                                <dd class="col-sm-9">kupiony_przedmiot_3</dd>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row align-items-end">
                                                <div class="col">
                                                    <p class="fw text-end">Suma: 90,08 zł</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="fw-bold text-end">
                                                        Zakończone
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include('templates/end'); %>