<%- include('templates/head'); %>

    <%- include('templates/nav'); %>

        <div class="container">
            <div class="row">
                <h1 class="display-2">Nazwa użytkownika</h1>
            </div>
            <div class="row">
                <div class="col">
                    <p class="lead">
                        Ostatnie logowanie: <strong>11.11.2011r.</strong>
                    </p>
                    <p class="lead" style="margin: 5% 0px;">Status:
                        <strong>
                            Użytkownik
                        </strong>
                    </p>
                    <form method="POST" style="margin: 0 40% 0 0 ;">
                        <select class="form-select" aria-label="Zmiana statusu">
                            <option selected>Wybierz nowy status</option>
                            <option value="1">Użytkownik</option>
                            <option value="2">Administrator</option>
                        </select>
                        <button type="submit" class="btn btn-secondary" style="margin-top: 5%;">Ustaw</button>
                    </form>
                </div>


                <div class="col">
                    <div class="list-group" style="margin: 1em 5em">
                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="row">
                                <div class="col-6" style="width: auto;">
                                    <img src="assets/img/wine2.jpg" class="figure-img img-fluid rounded-circle"
                                        style="height: 100px; width: 100px;"
                                        alt="grafika kupionego przedmiotu nieznaleziona">
                                    <!-- Tu grafika należąca do kupiony_przedmiot_1 -->
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="d-flex w-100 justify-content-between">
                                            <a role="button" tabindex="0">
                                                <h5 class="mb-1">Zamówienie #6969</h5>
                                            </a>
                                            <small>01/01/2021</small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <dd class="col-sm-9">kupiony_przedmiot_1</dd>
                                                <dd class="col-sm-9">kupiony_przedmiot_2</dd>
                                                <dd class="col-sm-9">kupiony_przedmiot_3</dd>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row align-items-end">
                                                <div class="col">
                                                    <p class="fw text-end">Suma: 90,08 zł</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="fw-bold text-end">
                                                        Zakończone
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="text-end">
                                                        <a role="button" tabindex="0" style="color: #dc3545;">usuń</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include('templates/end'); %>