<%- include('templates/head'); %>

    <%- include('templates/nav'); %>

        <div class="container">
            <div class="row">
                <h1 class="display-1" style="text-align: center;">Koszyk</h1>
            </div>

            <div class="list-group" style="margin: 1em 5em">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row">
                        <div class="col-6" style="width: auto;">
                            <img src="assets/img/wine4.jpg" class="figure-img img-fluid rounded-circle"
                                style="height: 100px; width: 100px;" alt="wine pic not found">
                        </div>
                        <div class="col">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Nazwa przedmiotu</h5>
                                <small><span role="button" tabindex="0">Usuń</span></small>
                            </div>
                            <dl class="row">
                                <dt class="col-sm-3">Liczba sztuk</dt>
                                <dd class="col-sm-9">20</dd>
                            </dl>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                                risus
                                varius blandit.
                            </p>
                            <small>Donec id elit non mi porta.</small>
                            <p class="text-end">Cena: 90,08 zł</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <%- include('templates/end'); %>