<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Shopsio-index</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Team-Grid.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top" style="background: rgba(0,0,0,0.15);">
        <div class="container-fluid"><a class="navbar-brand" href="#">Shopsio</a><button data-toggle="collapse"
                class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Kategoria 1</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Kategoria 2</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Kategoria 3</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="badge">NEW</span>
                            Wszystkie produkty
                        </a>
                    </li>
                </ul>
            </div>
            <div style="padding-right: 5px;">
                <button type="button" class="btn btn-primary">Koszyk</button>
            </div>

            <div class="btn-group" role="group">
                <div class="btn-group">
                    <button class="btn btn-primary" type="button">Zarejestruj</button>
                    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                        aria-expanded="false" type="button">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Zaloguj</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container" style="padding: 75px 100px; margin:0 auto;">
        <div class="row">
            <div class="input-group md-form form-sm form-2 pl-0">
                <input class="form-control my-0 py-1 blue-border" type="text" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <span class="input-group-text blue lighten-2" id="basic-text1"><i class="fas fa-search text-grey"
                            aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>


    <!-- <section class="search"><input class="form-control-lg" type="search" autocomplete="on"></section> -->
    <div class="team-grid">
        <div class="container">
            <div class="row flex-fill justify-content-around">
                <div class="col item">
                    <div class="box"
                        style="background: url(&quot;assets/img/product_new.jpg&quot;);padding: 0px;max-width: 100%;max-height: 100%;width: auto;background-size: contain;">
                        <div class="cover">
                            <h3 class="name">Promo</h3>
                            <p class="title">Buty</p>
                        </div>
                    </div>
                </div>
                <div class="col item">
                    <div class="box"
                        style="background: url(&quot;assets/img/product_promo.jpg&quot;);background-size: contain;">
                        <div class="cover">
                            <h3 class="name">New</h3>
                            <p class="title">Woda</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col">
                <figure class="figure">
                    <img src="assets/img/wine1.jpg" class="figure-img img-fluid rounded-circle height: 200px"
                        alt="wine pic not found" height="200">
                    <figcaption class="figure-caption text-center img-thumbnail">Darmowa dostawa</figcaption>
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img src="assets/img/wine2.jpg" class="figure-img img-fluid rounded-circle height: 200px"
                        alt="wine pic not found" height="200">
                    <figcaption class=" figure-caption text-center img-thumbnail">Niskie ceny</figcaption>
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img src="assets/img/wine3.jpg" class="figure-img img-fluid rounded-circle height: 200px"
                        alt="wine pic not found" height="200">
                    <figcaption class="figure-caption text-center img-thumbnail">Darmowe zwroty</figcaption>
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img src="assets/img/wine4.jpg" class="figure-img img-fluid rounded-circle height: 200px"
                        alt="wine pic not found" height="200">
                    <figcaption class="figure-caption text-center img-thumbnail">Wysoka jakość</figcaption>
                </figure>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Rewelacja!</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Anna z Grudziądza</h6>
                        <p class="card-text">
                            Yeah sex is cool, but have you tried buying wine from them?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>