<%- include('templates/head'); %>

    <%- include('templates/nav'); %>

        <div class="container" style="padding: 75px;">
            <div class="row">
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1 blue-border" type="text" placeholder="Search"
                        aria-label="Search">
                </div>
            </div>
            <div class="row" style="padding: 100px 0px 0px 0px;">
                <div class="d-flex flex-wrap">
                    <div class="card" style="width: 18rem; margin: 15px ;">
                        <img src="/assets/img/wine1.jpg" class="card-img-top" alt="item_photo" style="height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">Item 1</h5>
                            <p class="card-text">Item 1 description?</p>
                            <a href="#" class="btn btn-primary stretched-link">Add to basket</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem; margin: 15px ;">
                        <img src="/assets/img/wine1.jpg" class="card-img-top" alt="item_photo" style="height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">Item 1</h5>
                            <p class="card-text">Item 1 description?</p>
                            <a href="#" class="btn btn-primary stretched-link">Add to basket</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem; margin: 15px ;">
                        <img src="/assets/img/wine1.jpg" class="card-img-top" alt="item_photo" style="height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">Item 1</h5>
                            <p class="card-text">Item 1 description?</p>
                            <a href="#" class="btn btn-primary stretched-link">Add to basket</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem; margin: 15px ;">
                        <img src="/assets/img/wine1.jpg" class="card-img-top" alt="item_photo" style="height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">Item 1</h5>
                            <p class="card-text">Item 1 description?</p>
                            <a href="#" class="btn btn-primary stretched-link">Add to basket</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem; margin: 15px ;">
                        <img src="/assets/img/wine1.jpg" class="card-img-top" alt="item_photo" style="height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">Item 1</h5>
                            <p class="card-text">Item 1 description?</p>
                            <a href="#" class="btn btn-primary stretched-link">Add to basket</a>
                        </div>
                    </div>
                </div>

            </div>

            <%- include('templates/end'); %>