<%- include('templates/head'); %>

    <%- include('templates/nav'); %>

        <div class="container">
            <div class="row">
                <div class="col" style="margin: 20px 0 0 0;">
                    <h1 class="display-1">Nazwa produktu</h1>
                    <p class="lead">Pełna nazwa produktu</p>
                    <dl class="row">
                        <dt class="col-sm-3">Wielkość</dt>
                        <dd class="col-sm-9">Duży</dd>

                        <dt class="col-sm-3">Kolor</dt>
                        <dd class="col-sm-9">Zielony</dd>

                        <dt class="col-sm-3">Kategoria</dt>
                        <dd class="col-sm-9">kategoria_1</dd>

                        <dt class="col-sm-3">Liczba sztuk</dt>
                        <dd class="col-sm-9">20</dd>

                        <dt class="col-sm-3 text-truncate">Opis produktu</dt>
                        <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                            fermentum massa justo
                            sit amet risus.</dd>
                    </dl>

                </div>
                <div class="col">
                    <div class="card" style=" min-height: 150px; margin: 100px ;"><img src="/assets/img/wine4.jpg"
                            class="img-fluid" alt="no-product-image"></div>
                    <div class="d-flex justify-content-center">
                        <h1 class="display-6">Cena: 90 zł</h1>
                    </div>
                    <div class="d-flex justify-content-center"><a href="#" class="btn btn-primary stretched-link">Dodaj
                            do koszyka</a></div>
                </div>
            </div>
        </div>

        <%- include('templates/end'); %>