<%- include('templates/head'); %>

    <%- include('templates/nav'); %>

        <div class="container">
            <div class="row">
                <h1 class="display-2" style="text-align: center;">Wszystkie przedmioty</h1>
            </div>

            <div class="list-group" style="margin: 1em 5em">
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row">
                        <div class="col-6" style="width: auto;">
                            <img src="assets/img/wine3.jpg" class="figure-img img-fluid rounded-circle"
                                style="height: 100px; width: 100px;" alt="wine pic not found">
                        </div>
                        <div class="col">
                            <div class="d-flex w-100 justify-content-between">
                                <a role="button" tabindex="0">
                                    <h5 class="mb-1">Nazwa przedmiotu</h5>
                                </a>
                                <small><a role="button" tabindex="0">Usuń</a></small>
                            </div>
                            <div class="row">
                                <dd class="col-sm-9">mały</dd>
                            </div>
                            <div class="row">
                                <dd class="col-sm-9">zielony</dd>
                            </div>
                            <div class="row">
                                <dd class="col-sm-9">kategoria_1</dd>
                                <div class="col">
                                    <p class="text-end">Cena: 15,08 zł</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row">
                        <div class="col-6" style="width: auto;">
                            <img src="assets/img/wine3.jpg" class="figure-img img-fluid rounded-circle"
                                style="height: 100px; width: 100px;" alt="wine pic not found">
                        </div>
                        <div class="col">
                            <div class="d-flex w-100 justify-content-between">
                                <a role="button" tabindex="0">
                                    <h5 class="mb-1">Nazwa przedmiotu</h5>
                                </a>
                                <small><a role="button" tabindex="0">Usuń</a></small>
                            </div>
                            <div class="row">
                                <dd class="col-sm-9">mały</dd>
                            </div>
                            <div class="row">
                                <dd class="col-sm-9">zielony</dd>
                            </div>
                            <div class="row">
                                <dd class="col-sm-9">kategoria_1</dd>
                                <div class="col">
                                    <p class="text-end">Cena: 15,08 zł</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row">
                        <div class="col-6" style="width: auto;">
                            <img src="assets/img/wine3.jpg" class="figure-img img-fluid rounded-circle"
                                style="height: 100px; width: 100px;" alt="wine pic not found">
                        </div>
                        <div class="col">
                            <div class="d-flex w-100 justify-content-between">
                                <a role="button" tabindex="0">
                                    <h5 class="mb-1">Nazwa przedmiotu</h5>
                                </a>
                                <small><a role="button" tabindex="0">Usuń</a></small>
                            </div>
                            <div class="row">
                                <dd class="col-sm-9">mały</dd>
                            </div>
                            <div class="row">
                                <dd class="col-sm-9">zielony</dd>
                            </div>
                            <div class="row">
                                <dd class="col-sm-9">kategoria_1</dd>
                                <div class="col">
                                    <p class="text-end">Cena: 15,08 zł</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row">
                        <div class="col-6" style="width: auto;">
                            <img src="assets/img/wine3.jpg" class="figure-img img-fluid rounded-circle"
                                style="height: 100px; width: 100px;" alt="wine pic not found">
                        </div>
                        <div class="col">
                            <div class="d-flex w-100 justify-content-between">
                                <a role="button" tabindex="0">
                                    <h5 class="mb-1">Nazwa przedmiotu</h5>
                                </a>
                                <small><a role="button" tabindex="0">Usuń</a></small>
                            </div>
                            <div class="row">
                                <dd class="col-sm-9">mały</dd>
                            </div>
                            <div class="row">
                                <dd class="col-sm-9">zielony</dd>
                            </div>
                            <div class="row">
                                <dd class="col-sm-9">kategoria_1</dd>
                                <div class="col">
                                    <p class="text-end">Cena: 15,08 zł</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row">
                        <div class="col-6" style="width: auto;">
                            <img src="assets/img/wine3.jpg" class="figure-img img-fluid rounded-circle"
                                style="height: 100px; width: 100px;" alt="wine pic not found">
                        </div>
                        <div class="col">
                            <div class="d-flex w-100 justify-content-between">
                                <a role="button" tabindex="0">
                                    <h5 class="mb-1">Nazwa przedmiotu</h5>
                                </a>
                                <small><a role="button" tabindex="0">Usuń</a></small>
                            </div>
                            <div class="row">
                                <dd class="col-sm-9">mały</dd>
                            </div>
                            <div class="row">
                                <dd class="col-sm-9">zielony</dd>
                            </div>
                            <div class="row">
                                <dd class="col-sm-9">kategoria_1</dd>
                                <div class="col">
                                    <p class="text-end">Cena: 15,08 zł</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end" style="margin: 50px 20px;">
                    <div class="col-auto">
                        <button type="button" class="btn btn-success">Dodaj przedmiot</button>
                    </div>
                </div>
            </div>
        </div>
        <%- include('templates/end'); %>