<div class="container mt-4 mb-3" style="padding: 0 50px; margin:0 auto;">
    <div class="row">
        <div class="col">
            <form action="/search" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Wyszukaj produktu" aria-label="Wyszukaj produktu"
                        aria-describedby="button-addon2" name="searchtext">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Szukaj</button>
                </div>
            </form>
        </div>
    </div>
</div>